.headerWrapper {
  display: flex;
  padding: 20px 16px;
  align-items: center;
  background-color: #001d4a;
  justify-content: space-between;

  .heading {
    margin: 0px;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }

  .closeButton {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }
}

.contentWrapper {
  padding: 24px 16px;

  .submitAreaWrapper {
    margin-top: 32px;
    margin-bottom: 24px;
    text-align: center;
  }
  .validationErrorsWrapper {
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(255, 255, 50);
  }
}
