.pageWrapper {
  .banner {
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .analyticsWrapper {
    padding: 16px 32px 24px 32px;
    border-bottom: 1px solid #d5d5d5;

    .performanceWrapper {
      .heading {
        margin: 0px;
        font-size: 20px;
        color: #969696;
        margin-bottom: 24px;
      }

      .perfIndicator {
        display: grid;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0px;
        }

        .iconWrapper {
          grid-column: span 5;
        }

        .data {
          grid-column: span 7;

          .dataFigure {
            margin: 0px;
            font-size: 20px;
            font-weight: 600;
          }

          .dataName {
            margin: 0px;
            font-weight: 600;
            color: #969696;
          }

          .larger {
            font-size: 28px;
          }
        }
      }
    }

    .graphWrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .graphEmptyText {
        margin: 0px;
        color: #969696;
      }
    }
  }

  .linksStatsWrapper {
    padding: 0px 0px 24px 0px;

    .headerWrapper {
      display: flex;
      padding: 16px 24px;
      align-items: flex-end;
      justify-content: space-between;
      border-bottom: 1px solid #ededed;

      .mainHeading {
        margin: 0px;
        font-size: 16px;
        font-weight: 500;
        color: #2b2b2b;
        font-family: Inter;
      }

      .description {
        color: #8a8a8a;
        font-size: 12px;
        font-weight: 300;
        font-family: Inter;
      }
    }

    .linksListWrapper {
      .linkWrapper {
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        text-align: left;
        padding: 10px 24px;
        background-color: transparent;
        transition: all 0.1s ease-in-out;

        &:hover {
          background-color: rgb(248, 248, 248);
        }

        .date {
          margin: 0px;
          font-family: Inter;
          font-size: 12px;
          color: #8a8a8a;
          text-transform: uppercase;
        }

        .source {
          margin: 0px;
          font-size: 18px;
          font-weight: 300;
          color: #2b2b2b;
          font-family: Inter;
          margin-bottom: 8px;
        }

        .shortLink {
          color: #e09d00;
          text-transform: none;
        }
      }

      .selectedLinkWrapper {
        background-color: #ededed;
        &:hover {
          background-color: #ededed;
        }
      }
    }

    .selectedLinkStatsWrapper {
      height: 100%;
      padding: 16px 24px;

      .date {
        margin: 0px;
        font-size: 12px;
        color: #8a8a8a;
        font-family: Inter;
        margin-bottom: 16px;
        text-transform: uppercase;
      }

      .source {
        margin: 0px;
        font-size: 24px;
        font-weight: 300;
        color: #2b2b2b;
        font-family: Inter;
        margin-bottom: 16px;

        a {
          color: #2b2b2b;
          text-transform: none;
        }
      }

      .actionsWrapper {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        justify-content: flex-start;

        .shortLink {
          color: #e09d00;
          margin-right: 20px;
          text-transform: none;
        }

        button {
          margin-right: 12px;
        }

        &:last-child {
          margin-right: 0px;
        }
      }

      .totalClicksCount {
        margin: 0px;
        font-size: 24px;
        color: #2b2b2b;
        font-weight: 500;
        font-family: Inter;
      }

      .dataName {
        color: #8a8a8a;
        font-size: 12px;
        text-transform: uppercase;
      }
    }

    .linksEmptyWrapper {
      display: block;
      text-align: center;

      .linksEmptyText {
        margin: 0px;
        color: #969696;
        margin-bottom: 16px;
      }
    }
  }
}

.divider {
  height: 1px;
  width: 100%;
  margin-bottom: 24px;
  background-color: #ededed;
}
